
.address-bar{
	margin: 15px 0;
	border-bottom: 1px solid #B4B4B4;
}

tr{
	border-top: 1px solid #B4B4B4;
}

td {
	width: 180px;
	padding: 12px 0;
}

.related-product{
	margin: 50px 0;
}

.related-product li{
	margin-bottom: 2px;
}

.image {
    width: 100%;
    height: 100%; 
    margin-top: 10px;
}

.related-product ul li img{
	border: 1px solid transparent;
}

.related-product ul li:hover img{
	border: 1px solid black;
}
